<article>
  <div class="permalink">
    <a href="<%- url_for(post.path) %>">¶</a>
  </div>
  <% if(post.images){ %>
    <% if (post.bigImages) { %>
      <div class="post-imageGroup-big">
    <% } else { %>
      <div class="post-imageGroup">
    <% } %>
      <% for(var i=0; i<post.images.length; i++) {%>
        <% if(post.images[i] == 'br') { %>
          <br/>
        <% } else { %>
          <img src="/<%= post.images[i] %>" />
        <% } %>
      <% } %>
    </div>
  <% } %>
  <% if(post.media){ %>
    <div class="post-imageGroup">
      <% for(var i=0; i<post.media.length; i++) {%>
        <% if(post.media[i].type == 'img' || post.media[i].type == 'image') { %>
          <img src="/<%= post.media[i].url %>" />
        <% } else if(post.media[i].type == 'video') { %>
          <video src="/<%= post.media[i].url %>" type="video/mp4" playsinline autoplay loop muted preload="auto"></video>
        <% } %>
      <% } %>
    </div>
  <% } %>
  <% if (!post.noTitle) { %>
    <p>
      <% if(post.link) { %>
        <a href="<%= post.link %>"><b><%= post.title %></b></a>
      <% } else { %>
        <b><%= post.title %></b>
      <% } %>
    </p>
  <% } %>
  <% if (post.content) { %>
    <%- post.content %>
  <% } %>
  <% if (post.tags && post.tags.length > 0) { %>
    <div class="post-tags">
      Tagged as:
      <%- list_tags(post.tags, {
        show_count:false
      }) %>
    </div>
  <% } %>
</article>
