<article>
  <div class="permalink">
    <a href="<%- url_for(post.path) %>">¶</a>
  </div>
  <% if(post.media) { %>
    <div class="post-imageGroup">
      <% 
      post.media.forEach(function(media) {
        var type = media.type;   
        if (type == 'img' || type == 'image') {
          var link = media.link ? media.link : media.url;
          var layoutClass;
          if (media.layout === 'big') {
            layoutClass = 'post__media--big';
          } else if (media.layout === 'tall') {
            layoutClass = 'post__media--tall';
          } else {
            layoutClass = 'post__media';
          }
      %>
          <a href="<%= link %>">
            <img class="<%= layoutClass %>" src="/<%= media.url %>" />
          </a>
      <%
        } else if (type == 'video') {
          var posterAttr = media.poster ? 'poster="/' + media.poster + '"' : '';
      %> 
          <video class="<% layoutClass %>" playsinline autoplay loop muted preload="auto" <%= posterAttr %>>
            <source type="video/mp4" src="<%= media.url %>" />
          </video>
      <%
        } else if (type == 'br') {
      %>
          <br />
      <%
        } 
      %>
      <%
      });
      %>
    </div>
  <% } %>
  <% if (!post.noTitle) { %>
    <p>
      <% if(post.link) { %>
        <a href="<%= post.link %>"><b><%= post.title %></b></a>
      <% } else { %>
        <b><%= post.title %></b>
      <% } %>
    </p>
  <% } %>
  <% if (post.content) { %>
    <%- post.content %>
  <% } %>
  <% if (post.tags && post.tags.length > 0) { %>
    <div class="post-tags">
      Tagged as:
      <%- list_tags(post.tags, {
        show_count:false
      }) %>
    </div>
  <% } %>
</article>
