<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<meta name="description" content="Portfolio website for artist illustrator web designer developer.">
<meta name="keywords" content="artist,designer,illustrator,front-end,web,developer">
<meta name="google-site-verification" content="VDtVR8uLPgfx9LhvpGvdQ3qaB_oHIdhWOusFKYehylI" />

<!-- Use <%= page.title %> for dynamic title -->
<title><%= config.title %></title>

<%- js('js/jquery-3.1.0.min.js') %>
<%- js('js/fixto.js') %>
<%- js('js/script.js') %>

<script src="https://use.typekit.net/ajy0ybc.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<%- css('css/base') %>

</head>
<body>
  <% if (url_for(page.path) == '/index.html'){ %>
    <%- partial('_partial/header', {splash: true}) %>
  <% } else { %>
    <%- partial('_partial/header', {splash: false}) %>
  <% } %>
  <%- body %>
  <%- partial('_partial/footer', {}) %>
</body>
</html>
